services:
  # 1. Frontend (Next.js)
  - type: web
    name: smartparking-frontend
    env: node
    rootDir: frontend
    buildCommand: "npm install --legacy-peer-deps && npm run build"
    startCommand: "npm start"
    plan: free
    envVars:
      - key: NEXT_PUBLIC_API_URL
        value: https://smartparking-node-red.onrender.com

  # 2. Backend (Node-RED)
  - type: web
    name: smartparking-node-red
    env: node
    rootDir: infra/nodered-data
    buildCommand: "npm install"
    startCommand: "npx node-red -u ./ -p $PORT"
    plan: free
    envVars:
      - key: NODE_VERSION
        value: "20.19.4"
      - key: FIREBASE_SERVICE_ACCOUNT
        sync: false


  # 3. Mosquitto (MQTT broker)
  - type: pserv
    name: smartparking-mosquitto
    env: docker
    rootDir: infra
    dockerfilePath: Dockerfile
    plan: starter
    autoDeploy: true
    disk:
      name: mosquitto-data
      mountPath: /mosquitto/data
      sizeGB: 1

  # 4. Simulators (Background Worker)
  - type: worker
    name: smartparking-simulators
    env: node
    rootDir: backend/simulators
    buildCommand: "npm install"
    startCommand: "node start-all.js"
    plan: starter
    envVars:
      - key: MQTT_URL
        value: smartparking-mosquitto-irx5:1883
      # - key: MQTT_USERNAME
      #   sync: false
      # - key: MQTT_PASSWORD
      #   sync: false
